/* CSS reset */

@font-face{
	font-family:Avengeance heroic Avenger;
	src: url("fonte/AVENGEANCE HEROIC AVENGER BD.otf");
}
*, *:before, *:after { 
  margin:0px auto;
  padding:0;
  font-family: Arial,sans-serif; 
  background: url(image/teste.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.content{
  width: 570px;
  min-height: 50px;
  margin: 45px auto;
  position: relative;
  float: right;
}
h1{
  font-size: 40px;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #020202;
  padding: 2px 0 10px 0;
  font-family: Avengeance heroic Avenger,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after{
  content: ' ';
  display: block;
  width: 80%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(right , #fff 0%,#817E7E 20%,#696969 53%,#817E7E 79%,#fff 100%); 
  background: linear-gradient(right, #fff 0%,#817E7E 20%,#696969 53%,#817E7E 79%,#fff 100%); 
}


p{
  margin-bottom:15px;
  font-size:35px;
}

.content p:first-child{
  margin: 0px;
}

label{
  color: #fff;
  font-size:20px;
  font-family: Avengeance Heroic Avenger, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #020202;
  position: relative;
}


/* placeholder */
::-webkit-input-placeholder  {
  background:#fff;
  color: #020202; 
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
  background:#fff;
  color: #696969;
  font-style: italic;
}


input {
  outline: none;
}

/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
  width: 85%;
  margin-top: 4px;
  padding: 10px;  
  background:#fff;  
  border: 1px solid #b2b2b2;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px #696969 inset;
  box-shadow: 0px 1px 4px 0px #696969 inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"]{
  width: 90%!important;
  cursor: pointer;  
  padding: 8px 5px;
  font-family: Avengeance Heroic Avenger, sans-serif;
  background:#696969;
  color: #fff;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #020202;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

/*estilo do botão submit no hover */
input[type="submit"]:hover{
  color: #696969;
  background: #fff;
  border: 1px solid #020202;
}


.link{
  position: absolute;
  color: #fff;
  font-family: Avengeance Heroic Avenger, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #020202;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 22px;
  text-align: right;
  

  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}

.link a {
  font-weight: bold;
  background: #696969;
  font-family: Avengeance Heroic Avenger, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #020202;
  padding: 6px;
  color: #fff;
  margin-left: 10px;
  border: 1px solid #fff;

  -webkit-border-radius: 4px;
  border-radius: 4px;  

  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}

.link a:hover {
  color: #696969;
  background: #fff;
  border: 1px solid #020202;
}


#cadastro, 
#login{
  position: center;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;


  -webkit-box-shadow: 5px;
  border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}



/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}